@media only screen and (max-width: 768px) {
  .gone {
    display:none;
  }
}

.bg{
background: url("mountain.jpg") black ;   
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

  
 img {
     display:block;
    max-height: 60vh;
    margin: auto;
}        

  .spill-out {
    position: absolute;
    top: 95%;
  }

.googlefont{
font-family: 'Permanent Marker', cursive;
    text-shadow: black 1px 1px;
  

}

.shadow-black{
    text-shadow: black 1px 1px;
}