@media only screen and (max-width: 768px) {
  .gone {
    display:none;
  }
}

.bg{
background: url("mountain.jpg") black ;   
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

  
 img {
     display:block;
    max-height: 50vh;
    margin: auto;
}        

@media only screen and (min-width: 768px) {
  .spill-out {
    position: absolute;
    top: 69%;
    left:45%;

  }
}

.googlefont{
font-family: 'Permanent Marker', cursive;
    text-shadow: black 1px 1px;
}

.shadow-black{
    text-shadow: black 1px 1px;
}
.font{
color: black;
font-family: 'Permanent Marker', cursive;

}